/* https://codepen.io/allison7860/pen/Zymmxv */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 70%;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 20px;
    background: #ddd;
    padding: 10px;
}

.col {
    padding: 10px;
}

h1 {
    font-family: Arial;
    font-size: 15pt;
    font-style: italic;
    color: #515151;
}

pre {
    overflow-x: auto;
}

pre::-webkit-scrollbar {
    background: #b3bccc;
}

pre::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 5px;
}

pre {
    background: #414449;
    color: #b3bccc;
    padding: 15px;
    font-size: 13pt;
    tab-size: 4;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .75);
}